Q1. What is a database? Differentiate between SQL and NoSQL databases.

--Databases are the collection of data in order to store and retrieve data. 

1.SQL-RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)

NOSQL-Non-relational or distributed database system.

2.SQL-These databases have fixed or static or predefined schema

NOSQL-They have dynamic schema

3.SQL-These databases are not suited for hierarchical data storage.

NOSQL-These databases are best suited for hierarchical data storage.

4.SQL-These databases are best suited for complex queries

NOSQL-These databases are not so good for complex queries

5.SQL-Follows ACID(Atomicity,consistency,isolation,durability) property

NOSQL-Follows CAP(consistency, availability, partition tolerance)

6.SQL-Example: MYSQL

NOSQL-example:MangoDB

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax

CREATE-The CREATE command creates a new table in the database.

create table student(id int,name varchar(),city varchar());

DROP- The DROP command deletes a table in the database.

drop table student;

ALTER-The ALTER command adds, deletes, or modifies columns in a table.

The ALTER command also adds and deletes various constraints in a table.

alter table student add email varchar();

TRUNCATE- The TRUNCATE command deletes the data inside a table, but not the table itself.

truncate table student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML-Data Manipulation Language
We can easily access, store, change, update and remove existing folders from the database using DML commands.

INSERT-The INSERT INTO command is used to insert new rows in a table.

INSERT INTO student VALUES (01,'pranta','kolkata');

UPDATE-The UPDATE statement is used to modify the existing records in a table.

update student set city='delhi' where id=01;

DELETE-The DELETE statement is used to delete existing records in a table.

delete from student where id=01;

Q4. What is DQL? Explain SELECT with an example.

DQL-data query language

DQL statements are used for performing queries on the data within schema objects.

Select-It is used to retrieve data from the database.

select * from student;

Q5. Explain Primary Key and Foreign Key.


1.Primary Key:A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.

Foreign Key:A foreign key is generally used to build a relationship between the two tables.

2.Primary Key:Table allows only one primary key.

Foreign Key:Tables can allow more than one foreign key.

3.Primary Key:The primary key doesnâ€™t allow null values.

Foreign Key:Foreign key accepts multiple null values.

4.Primary Key:It can identify the record uniquely in the database table.

Foreign Key:A foreign key is a field in the table that is the primary key in another table.

5.Primary Key:In the primary key, the value cannot be removed from the parent table.

Foreign Key:In this, the value can be deleted from the child table.

Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)

cursor():cursors are used to execute database queries and retrieve data from a MySQL database using the Python MySQL Connector API.

execute():execute() is amethod ifthe cursor object that is used to execute SQL queries on a MYSQL database.

Q7.Give the order of execution of SQL clauses in an SQL query.

FROM: The FROM clause specifies the table or tables that the query will retrieve data from.

JOIN: If the query includes joins, they are executed next. Joins are used to combine data from two or more tables based on a related column between them.

WHERE: The WHERE clause filters the rows returned by the query based on a specified condition.

GROUP BY: If the query includes a GROUP BY clause, the data is grouped based on the specified column or columns.

HAVING: The HAVING clause filters the groups returned by the query based on a specified condition.

SELECT: The SELECT clause specifies the columns that will be included in the query result set.

DISTINCT: If the query includes the DISTINCT keyword, duplicate rows are removed from the result set.

ORDER BY: The ORDER BY clause sorts the result set based on the specified column or columns.

LIMIT/OFFSET: If the query includes the LIMIT and OFFSET keywords, the result set is limited to a specified number of rows starting from a specified offset.